{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Bienvenue sur PlanTogether</h1>
<p><a href="{{ path('poll_new') }}">Créer une nouvelle proposition</a></p>
{% endblock %}
