{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="text-2xl mb-4">Bienvenue sur PlanTogether</h1>
<p><a class="text-blue-600 underline" href="{{ path('poll_new') }}">Créer une nouvelle proposition</a></p>
{% endblock %}
