{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block body %}
<h1>Proposition de {{ poll.organizerName }}</h1>
<p>Période : {{ poll.startDate|date('d/m/Y H:i') }} - {{ poll.endDate|date('d/m/Y H:i') }}</p>
<p>Deadline : {{ poll.deadline|date('d/m/Y H:i') }}</p>
{% endblock %}
